NODE_ENV=production
HOST=127.0.0.1
PORT=3001
APP_ORIGINS=https://celiawang.fun
STATIC_DIR=../dist
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=friend_dev
MYSQL_DATABASE=friend_product_workbench
MYSQL_PASSWORD_FILE=/etc/product-workbench/mysql_password.txt
BOOTSTRAP_USERNAME=celia
BOOTSTRAP_NAME=celia.wang
BOOTSTRAP_PASSWORD_FILE=/var/lib/product-workbench/bootstrap-admin.txt
